.vscode/**
.vscode-test/**
test/**
.gitignore
.github/**
.devcontainer/**
Dockerfile
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!src/**/*.ts
node_modules/**
.yarnrc
**/yarn.lock
**/.yarn
.git
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc
.prettierignore
webpack.config.js
**/jest.config.js
**/__tests__/**
**/__mocks__/**
**/test/**
**/*.test.ts
**/*.spec.ts 